# .env (example)
TW_API_KEY=1234567890
TW_BASE=https://api.triplewhale.com/api/v2
SHOP_OVERRIDE=boostmobile.com
DEFAULT_CURRENCY=USD

TIMEZONE_LOCAL=America/Denver
DAYS_BACK=8

CACHE_DIR=./cache
LOG_PATH=./logs/tw_order_upload_log.csv
BATCH_SIZE=500
PAUSE_BETWEEN_REQ=0.2

SNOWFLAKE_ACCOUNT=yva20138.us-west-2.privatelink
SNOWFLAKE_USER=first.last@dish.com
SNOWFLAKE_AUTH=externalbrowser
SNOWFLAKE_INSECURE=true
